<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Thank you for supporting {{campaign.username}}'s campaign: {{campaign.campaignname}} with your {{account}} account. {{campaign.username}} now has {{campaign.supportercount}} supporters!</h3>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <p>Once a week we'll post the following status to your {{account}} account:</p>
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
                <h4>{{campaign.post}}</h4>
            </div>
        </div>
    </div>
</div>